body {
  max-width: 900px;
  margin: auto;
  padding: .2em;
  line-height: 1.5em;
  background-color: #fafafa
}

main {
  background-color: #fff
}

/* Table of Contents, if wanted

Add to yaml:

output:
  blogdown::html_page:
    toc: true

    */

#toc {
  border: 1px solid #eee;
  border-radius: 5px;
  background: #fff none repeat scroll 0 0;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  position: fixed;
  left: 120px;
  margin-top: 30px;
}

#toc ul li a {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  color: #4285f4;
  border-bottom-color: #ccc;
  word-wrap: break-word;
}

#toc li, #toc ul, #toc ul li{
  list-style: outside none none !important;
  padding-left: 10px;
}

#toc #TableOfContents > ul {
  padding-left: 0;
  margin-left: -16px;
  width: 250px;
}
#toc li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  line-height: 1.8;
}

/* Header and Footer */
.menu li { display: inline-block; }
.article-meta, .menu a {
  padding: 5px;
  border-radius: 5px;
}
.article-meta .terms a {
  text-decoration: underline;
}
.menu, .article-meta, footer { text-align: center; }

.terms { font-size: .9em; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }

.pull-left {
    float: left
}
.pull-right {
    float: right
}

a {
  color: #4285f4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Adjust background at your leisure! */
header {
    position: relative;
    width: 100%;
    height: 1.75rem;
    font-family: "Lucida Console" , "Liberation Mono";
    font-size: .875rem;
    background: #4285f4;
}

header ul,
header ol {
    margin: 0;
    padding: 0;
    list-style: none
}
header nav {
    padding: 0 0.5rem
}

header a {
    color: #fff;
    line-height: 1.75rem;
    padding: 0 0.5rem
}
header a:hover,
header .current a {
    color: #fff
}

/* Images, tables, misc. */
img, iframe, video { max-width: 100%; }
.content {
   hyphens: auto; 
   margin-top: 30px;
   background-color: #fff;
   padding: 40px;
}
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }
