{{ partial "header.html" . }}
<main>
<div class="article-meta">
<h2><span class="title">{{ .Title }}</span></h2>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if .Params.date }}<div class="date">{{ .Date.Format "2006/01/02" }}</div>{{ end }}
<div class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</div>
</div>

<hr>
{{ if .Params.toc }}
<div id="toc">
  <div>目录</div>
{{ .TableOfContents }}
</div>
{{ end }}

<div class="content markdown-body">
{{ .Content }}
</div>

{{ partial "footer.html" . }}

</main>