// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
// Default | Mint Green | Cobalt Blue | Hot Pink | Dark Violet
$theme-color-config: 'Cobalt Blue';
// Font size of post title.
$post-title-font-size: 30px !default;

// Font weight of post title.
$post-title-font-weight: 600 !default;